body {
max-width: 2500px;
}

#title
{
font-size: 70px;
color: black;
line-height: 1.2;
text-align: center;
font-weight: bold;
font-family: Helvetica,Arial,sans-serif;
animation: glitch .5s linear;
}

@keyframes glitch {
  from { transform: scaleX(10);}
  to { font-family: Helvetica,Arial,sans-serif;
  color: red;}
}

/*#grid-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: row;

  border: 2px solid black;
  height: 20vh;
  width: 80vw;
  overflow: auto;
}*/

#grid-container{
  display: grid;
grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  color: white;

}

.con-design {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 0.5s ease-out;
}

.con-design:hover {
  background-color: red;
}

.inter {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 1s ease-out;
}

.inter:hover {
  background-color: #3A9EFB;
}

.drawing {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 1s ease-out;
}

.drawing:hover {
  background-color: yellow;
}

.poster {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 1s ease-out;
}

.poster:hover {
  background-color: #0ECA14;
}

@media (max width: 400px){
#grid-container{ background-color: red;
border-radius: 10px}

@@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio : 3) {
  #grid-container{
    background-color: red;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
