body {
max-width: 1500px;
}

/*#grid-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: row;

  border: 2px solid black;
  height: 20vh;
  width: 80vw;
  overflow: auto;
}*/

#grid-container{
  display: grid;
grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  color: white;

}

.con-design {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 0.5s ease-out;
}

.con-design:hover {
  background-color: red;
}

.inter {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 1s ease-out;
}

.inter:hover {
  background-color: #3A9EFB;
}

.drawing {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 1s ease-out;
}

.drawing:hover {
  background-color: yellow;
}

.poster {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid black;
  border-spacing: 15px;
  transition: all 1s ease-out;
}

.poster:hover {
  background-color: #0ECA14;
}

}
