body {
background-color: #FBF5EB;
}

#til {
  font-family: arial;
  color: white;
  font-size: 72px;

  position: relative;
  top: -240px;
  left: 0px;
}

#align {
  text-align: right;
  font-size: 18px;

  position: relative;
  top: -300px;
}

.question {
  font-size: 22px;
  text-align: left;
}

.answer {
  text-align: right;
}

}
