body {
max-height: 768px;
max-width: 1400px;
font-family: Helvetica,monospace;
}

center {
    display: block;
    text-align: -webkit-center;
}

.over-container {
  z-index: 1001;
  opacity: 1;
}

.container, .container2 {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 1.2s;
}

.over-container {
    z-index: 1001;
    opacity: 1;
}

.pop-links {
    padding: 0 30px;
    width: 360px;
    margin-top: 20px;
    height: 360px;
}

.pop-l {
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
    width: 150px;
    font-family: consolas, consola;
    font-size: 12px;
    color: #444;
    transition: 0.6s;
    cursor: pointer;
}

.pop-l:hover {
    background-color: #f8f8f8;
}

.show-pop-tou {
  z-index: 1000;
}

.pop-tou {

}

.pop-tou, .pop-more {
    width: 400px;
    height: 400px;
    background-image: url(https://static.tumblr.com/2icx37z/4Gep2smq1/light_hives.png);
    padding: 20px;
    position: relative;
    border: 1px solid #f1f1f1;
    z-index: 1;
    transition: 1.2s;
}

.pop-tou { margin-top: 90px;}
.pop-more { margin-top: 90px; }

.show-pop-tou, .show-pop-more {
    z-index: 1000;
}

#btn-tou-x, #btn-more-x {
    font-family: consolas, consola;
    font-size: 14px;
    color: #aaa;
    width: 20px;
    height: 20px;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    margin: 20px 421px;
    transition: 0.6s;
}

#btn-tou-x:hover, #btn-more-x:hover { color: #e5c145; }

.pop-content {
    width: 400px;
    height: 400px;
    float: left;
    transition: 1.6s;
    background-color: #fff;
}

.pop-content-res, .pop-content-tut { opacity: 0; }
.show-pop-content-res, .show-pop-content-tut { opacity: 1; }
.hide-pop-content-links { opacity: 0; }

.pop-header {
    font-family: kaori;
    font-size: 16px;
    color: #999;
    letter-spacing: 8px;
    padding: 30px 0 0 0;
}

.pop-tou-txt {
    width: 330px;
    padding: 0 20px 0 50px;
    font-family: consolas, consola;
    font-size: 12px;
    text-align: left;
    color: #666;
}

.tou-txt-light {
    font-size: 9px;
    letter-spacing: 1px;
    color: #afafaf;
    text-transform: uppercase;
}

.ikigai, .ikigai-e {
    width: 30px;
    height: 4px;
    border-radius: 1000px;
    background-color: #ffbac2;
    margin: 20px 0;
}

#ref {
  position: absolute;
  width: 1345px;
  opacity: 0.3;
}

#yucabody {
  position: absolute;
  width: 1345px;
}

#coinbutton img {
  position: absolute;
  width: 11px;
  z-index: 2;
  cursor: pointer;
  top: 608px;
  left: 201px;
}

#b1 img {
  position: absolute;
  width: 11px;
  z-index: 2;
  cursor: help;
  top: 437px;
  left: 206px;
}

#b2 img {
  position: absolute;
  width: 11px;
  z-index: 2;
  cursor: help;
  top: 455px;
  left: 206px;
}

#b3 img {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 206px;
  z-index: 2;
  cursor: help;
}

#b4 img {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 206px;
  z-index: 2;
  cursor: help;
}

#b5 img {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 206px;
  z-index: 2;
  cursor: help;
}

#b6 img {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 206px;
  z-index: 2;
  cursor: help;
}

#b7 img {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 284px;
  z-index: 2;
  cursor: help;
}

#b8 img {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 284px;
  z-index: 2;
  cursor: help;
}

#b9 img {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 284px;
  z-index: 2;
  cursor: help;
}

#b10 img {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 284px;
  z-index: 2;
  cursor: help;
}

#b11 img {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 284px;
  z-index: 2;
  cursor: help;
}

#b12 img {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 284px;
  z-index: 2;
  cursor: help;
}

#b13 img {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 360px;
  z-index: 2;
  cursor: help;
}

#b14 img {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 360px;
  z-index: 2;
  cursor: help;
}

#b15 img {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 360px;
  z-index: 2;
  cursor: help;
}

#b16 img {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 360px;
  z-index: 2;
  cursor: help;
}

#b17 img {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 360px;
  z-index: 2;
  cursor: help;
}

#b18 img {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 360px;
  z-index: 2;
  cursor: help;
}

#b19 img {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 436px;
  z-index: 2;
  cursor: help;
}

#b20 img {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 436px;
  z-index: 2;
  cursor: help;
}

#b21 img {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 436px;
  z-index: 2;
  cursor: help;
}

#b22 img {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 436px;
  z-index: 2;
  cursor: help;
}

#b23 img {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 436px;
  z-index: 2;
  cursor: help;
}

#b24 img {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 436px;
  z-index: 2;
  cursor: help;
}

#b25 img {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 514px;
  z-index: 2;
  cursor: help;
}

#b26 img {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 514px;
  z-index: 2;
  cursor: help;
}

#b27 img {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 514px;
  z-index: 2;
  cursor: help;
}

#b28 img {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 514px;
  z-index: 2;
  cursor: help;
}

#b29 img {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 514px;
  z-index: 2;
  cursor: help;
}

#b30 img {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 514px;
  z-index: 2;
  cursor: help;
}

#b31 img {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 592px;
  z-index: 2;
  cursor: help;
}

#b32 img {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 592px;
  z-index: 2;
  cursor: help;
}

#b33 img {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 592px;
  z-index: 2;
  cursor: help;
}

#b34 img {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 592px;
  z-index: 2;
  cursor: help;
}

#b35 img {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 592px;
  z-index: 2;
  cursor: help;
}

#b36 img {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 592px;
  z-index: 2;
  cursor: help;
}

#vidframe {
  width: 560px;
  height: 315px;
  background-color: black;
  cursor: grab;
  top: 55px;
  left: 913px;
}
