body {margin: auto;
max-width: 3000px;
max-height: 7000px}

#title {
    transform: rotate(180deg);
    position: relative;
    border-radius: 50%;
    top: 120px;
    left: -31vw;
}

#title-big {
  position: relative;
  top: -570px;
  left: 600px;
  animation: expand 1s linear;
  animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

@keyframes expand {
  from {position: relative;
      top: -570px;
      left: 600px;}
    to {position: relative;
    top:-800px;
    left: -100px;}

}

/*#main {
  font-family: helvetica;
  font-style: italic;
    position: relative;
    top: 280px;
    right: 30px;
    transform: scale(3,3);

}

.glitches {
  font-family: "Helvetica";
  font-style: italic;
  position: relative;
  top: 280px;
  right: 30px;
}

#glitches-1 {
  font-family: "Helvetica";
  font-style: italic;
  position: relative;
  top: 223px;
  right: 30px;
  transform: scale(.5,.5);
}

#glitches-2 {
    font-family: "Helvetica";
    font-style: italic;
    position: relative;
    top: 163px;
    right: 30px;
    transform: scale(1,1);
}

#glitches-3 {
    font-family: "Helvetica";
    font-style: italic;
    position: relative;
    top: 107px;
    right: 30px;
    transform: scale(1.5,1.5);
}

#glitches-4 {
    font-family: "Helvetica";
    font-style: italic;
    position: relative;
    top: 48px;
    right: 30px;
    transform: scale(2,2);
}

#glitches-5 {
    font-family: "Helvetica";
    font-style: italic;
    position: relative;
    top: -12px;
    right: 30px;
    transform: scale(2.5,2.5);
}*/

#blue {
    width: 320px;
    height: 320px;
    background-color: #0086e3;
    position: relative;
    top: -980px;
    right: 55px;
    z-index: -1;
}

#green {
  width: 230px;
    height: 8000px;
    background-color: #d0e300;
    position: relative;
    top: -5000px;
    z-index: -3;
}

#big-m {
    width: 1200px;
    height: 800px;
    background-color: #ce21f9;
    position: relative;
    top: -8804px;
    right: -100px;
    z-index: -2;
}

#smmol {
    width: 400px;
    height: 60px;
    background-color: #aa20f1;
    position: relative;
    top: -9585px;
    right: -830px;
    z-index: -1;
}

#smmol-1 {
    width: 400px;
    height: 200px;
    background-color: #aa20f1;
    position: relative;
    top: -9313px;
    right: -830px;
    z-index: -1;
}

#window {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    top: -9798px;
    right: -831px;
    z-index: -2;
}

#location {
    font-family: "Helvetica";
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: -10184px;
    right: -1200px;
    z-index: 1;
}

#hour {
    font-family: "Helvetica";
    font-size: 60px;
    font-style: italic;
    position: relative;
    top: -10581px;
    right: -30px;
    z-index: -2;
}

#PM {
    font-family: "Helvetica";
    font-size: 60px;
    font-style: italic;
    position: relative;
    top: -10800.5px;
    right: -240px;
}

/*#PM2 {
    font-family: "Helvetica";
    font-size: 60px;
    font-style: italic;
    transform: scaleX(200px);
    position: relative;
    top: -11149px;
    right: -240px;
}*/

#green-line1 {
    width: 5px;
    height: 7995px;
    background-color: #145409;
    position: relative;
    top: -17727px;
    right: -24px;
}

#green-line {
    width: 5px;
    height: 8000px;
    background-color: #145409;
    position: relative;
    top: -23069px;
    right: -40px;
    transform: rotate(90deg);
}

#green-line2 {
  width: 5px;
  height: 480px;
  background-color: #145409;
  position: absolute;
  top: 590px;
  right: 1816px;
  transform: rotate(90deg);
}

#purple-line {
    width: 5px;
    height: 4800px;
    background-color: #e9baff;
    position: absolute;
    top: -1659px;
    right: -823px;
    transform: rotate(90deg);
}

#red-line {
    width: 15px;
    height: 4000px;
    background-color: #e35000;
    position: relative;
    top: -27860px;
    right: -1000px;
    z-index: -1;
}

#red-line2 {
    width: 4000px;
    height: 15px;
    background-color: #e35000;
    position: fixed;
    top: 570px;
    left: -50vw;
    z-index: -1;
}

/*#big-gli {
  font-family: helvetica;
  font-style: italic;
    position: relative;
    top: -35085px;
    right: 500px;
    transform:rotate(180deg) scale(5,5);
    z-index: -2;
    }

#big-gli1 {
  font-family: helvetica;
  font-style: italic;
    position: relative;
    top: -35260px;
    right: 500px;
    transform:rotate(180deg) scale(4.5,4.5);
    z-index: -2;
    }

#big-gli2 {
  font-family: helvetica;
  font-style: italic;
    position: relative;
    top: -35330px;
    right: 500px;
    transform:rotate(180deg) scale(4,4);
    z-index: -2;
    }

  #big-gli3 {
    font-family: helvetica;
    font-style: italic;
      position: relative;
      top: -35490px;
      right: 500px;
      transform:rotate(180deg) scale(3.5,3.5);
      z-index: -2;
      }*/

      #big-gli4 {
    font-family: helvetica;
    font-style: italic;
    position: relative;
    top: -30768px;
    left: -31vw;
    transform: rotate(180deg) scale(3,3);
    z-index: -2;
}

#turq {
  width: 500px;
  height: 300px;
  background-color: #89f3fd;
  position: relative;
  top: -30562px;
  right: -230px;
  z-index: -2;
}







#bars {
  width: 16px;
  height: 8000px;
  background-color: #000000;
  position: relative;
  top: -31389px;
  right: -280px;
  z-index: -1;
}

#bars1 {
    width: 69px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -39382px;
    right: -312px;
    z-index: -1;
}

#bars2 {
    width: 3px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -47462px;
    right: -428px;
    z-index: -1;
}

#bars3 {
    width: 16px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -55385px;
    right: -396px;
    z-index: -1;
}


#bars4 {
    width: 3px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -63151px;
    right: -1219px;
    z-index: -1;
}

#bars5 {
    width: 3px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -71174px;
    right: -1212px;
    z-index: -1;
}

#bars6 {
    width: 1px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -79123px;
    right: -1207px;
    z-index: -1;
}

#bars7 {
    width: 2px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -87122px;
    right: -1228px;
    z-index: -1;
  }

#bars8 {
    width: 8px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -95158px;
    right: -1275px;
    z-index: -1;
    animation: down2 3s linear;
}

@keyframes down2 {
  from {width:8px;
  height:2px;}
    to {width: 8px;
    height: 8000px;}}

#bars9 {
    width: 3px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -103146px;
    right: -1338px;
    z-index: -1;
    animation: down1 3s linear;
}

@keyframes down1 {
  from {width:3px;
  height:2px;}
    to {width: 3px;
    height: 8000px;}}

#bars10 {
    width: 5px;
    height: 8000px;
    background-color: #000000;
    position: relative;
    top: -111200px;
    right: -1355px;
    z-index: -1;
    animation: down 3s linear;
    }

    @keyframes down {
    from {width:5px;
    height:2px;}
      to {width: 5px;
      height: 8000px;}

}
  }

@media{(max width: 400px)}

@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-min-device-pixel-ratio: 1.5),
not all, not all, (-webkit-min-device-pixel-ratio: 1.4375),
(min-resolution: 138dpi),
(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
